@model IEnumerable<User>

@{
}

<div class="container">
    <h1 class="text-white-50 pt-2">All users:</h1>
    <div class="album">
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-md-3 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">UserName: @item.Username
                                <br/>Login: @item.Login
                                <br/>Role: @item.Role
                            </p>
                            <a type="btn" asp-controller="User" 
                                asp-action="Details" asp-route-id="@item.Id"
                                class="btn bg-dark text-white-50"     
                            >
                                More
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

