@model Project
@{
}

<form class="container text-white-50" method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="ProjectName">Имя проекта</label>
        <input asp-for="ProjectName" type="text" class="form-control"
               id="name" aria-describedby="" placeholder="Имя проекта">
        <span asp-validation-for="ProjectName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Описание</label>
        <input asp-for="Description" type="text" class="form-control" id="" placeholder="Описание">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartDate">Дата начала работ</label>
        <input asp-for="StartDate" type="date" class="form-control" id="" placeholder="">
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate">Дата окончания работ</label>
        <input asp-for="EndDate" type="date" class="form-control" id="" placeholder="">
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <div class="d-flex">
        <div class="map_item mt-2"
             id="map" style="height: 500px; width: 580px">
        </div>
        <div class="flex-column ms-2">
            <div class="d-flex flex-lg-row">
                <p class="me-2">Координаты начала дороги: </p>
                <input type="number" asp-for="startPointLat" type="hidden" id="startMarkerLat" />
                <span asp-validation-for="startPointLat" class="text-danger"></span>
                <input type="number" asp-for="startPointLng" type="hidden" id="startMarkerLng" />
                <span asp-validation-for="startPointLng" class="text-danger"></span>
                <p id="startMarkerLatDisplay" class="me-2"></p>
                <p id="startMarkerLngDisplay"></p>
            </div>
            <div class="d-flex flex-lg-row">
                <p class="me-2">Координаты конца дороги: </p>
                <input type="number" asp-for="endPointLat" type="hidden" id="endMarkerLat" />
                <span asp-validation-for="endPointLat" class="text-danger"></span>
                <input type="number" asp-for="endPointLng" type="hidden" id="endMarkerLng" />
                <span asp-validation-for="endPointLng" class="text-danger"></span>
                <p id="endMarkerLatDisplay" class="me-2"></p>
                <p id="endMarkerLngDisplay"></p>
            </div>
            <div class="d-flex flex-lg-row">
                <p class="me-2">Адрес участка дороги: </p>
                <input asp-for="RoadAddress" id="address" type="hidden" />
                <span asp-validation-for="RoadAddress" class="text-danger"></span>
                <p id="addressDisplay" style="max-width: 200px"></p>
            </div>
            <button id="clearMarkers" class="btn btn-primary"
                    style="width:160px; height:40px">
                Убрать маркеры
            </button>
            <div id="tasksContainer">
                <div class="form-group mt-2">
                    <h6>Задачи: </h6>
                    <label asp-for="Tasks[0].Description">Описание задачи</label>
                    <input asp-for="Tasks[0].Description" type="text" class="form-control" placeholder="Описание" required>
                    <input asp-for="Tasks[0].Status" type="hidden" class="form-control" value="initial">
                    <span asp-validation-for="Tasks[0].Description" class="text-danger"></span>
                </div>
            </div>

            <a id="addTaskButton" class="btn btn-primary mt-2" style="width:160px; height:40px">
                Добавить задачу
            </a>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>

<script>
    var tasksContainer = document.getElementById('tasksContainer');
    var addTaskButton = document.getElementById('addTaskButton');
    var taskId = 1;

    addTaskButton.addEventListener('click', function () {
        var taskHtml = `
            <div class="form-group">
                <label>Описание задачи</label>
                <input name="Tasks[${taskId}].Description" type="text" class="form-control" placeholder="Описание" required>
                <input name="Tasks[${taskId}].Status" type="hidden" class="form-control" value="initial">
            </div>
        `;
        tasksContainer.insertAdjacentHTML('beforeend', taskHtml);
        taskId++;
    });
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWdivpGSvsdwx_yGzabjOnqrD2ggzUgsQ&callback=initMap"></script>
<script>
    var map;
    var markers = [];
    var maxMarkers = 2;

    function initMap() {
        var mapElement = document.querySelector('.map_item');

        var centerLat = 53.897996128465444;
        var centerLng = 30.33279244421068;

        map = new google.maps.Map(mapElement, {
            center: { lat: centerLat, lng: centerLng },
            zoom: 16
        });

        map.addListener('click', function (event) {
            if (markers.length < maxMarkers) {
                placeMarker(event.latLng);

                if (markers.length == 1) {
                    document.getElementById('startMarkerLat').value = event.latLng.lat()
                    document.getElementById('startMarkerLng').value = event.latLng.lng()

                    console.log(
                        document.getElementById('startMarkerLat').value + " " +
                        document.getElementById('startMarkerLng').value
                    )

                    document.getElementById('startMarkerLatDisplay').innerHTML = event.latLng.lat()
                    document.getElementById('startMarkerLngDisplay').innerHTML = event.latLng.lng()
                }
                else {
                    document.getElementById('endMarkerLat').value = event.latLng.lat()
                    document.getElementById('endMarkerLng').value = event.latLng.lng()

                    document.getElementById('endMarkerLatDisplay').innerHTML = event.latLng.lat()
                    document.getElementById('endMarkerLngDisplay').innerHTML = event.latLng.lng()

                    var lat = event.latLng.lat();
                    var lng = event.latLng.lng();

                    var url = `https://nominatim.openstreetmap.org/reverse?lat=${lat}&lon=${lng}&format=json`;

                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            if (data.address) {
                                var address = data.display_name;
                                document.getElementById('address').value = address
                                document.getElementById('addressDisplay').innerHTML = address
                            } else {
                                console.log('Адрес не найден');
                            }
                        })
                }
            }

        });

        document.getElementById('clearMarkers').addEventListener('click', function () {
            event.preventDefault();

            clearMarkers();;
        });

        function placeMarker(location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });

            markers.push(marker);

        }

        function clearMarkers() {
            markers.forEach(function (marker) {
                marker.setMap(null);
            });

            markers = [];
            document.getElementById('startMarkerLat').value = ''
            document.getElementById('startMarkerLng').value = ''
            document.getElementById('endMarkerLat').value = ''
            document.getElementById('endMarkerLng').value = ''

            document.getElementById('startMarkerLatDisplay').innerHTML = ''
            document.getElementById('startMarkerLngDisplay').innerHTML = ''
            document.getElementById('endMarkerLatDisplay').innerHTML = ''
            document.getElementById('endMarkerLngDisplay').innerHTML = ''

            document.getElementById('address').value = ''
            document.getElementById('addressDisplay').innerHTML = ''
        }

    }

    initMap()
</script>
