
<div class="container mt-2">
    <h2 class="text-white-50">Admin panel</h2>
    <a asp-controller="Project"
       asp-action="Create"
       class=" btn btn-outline-secondary text-decoration-none">
        Новый проект
    </a>
    <a asp-controller="Admin"
       asp-action="OrderMaterial"
       class=" btn btn-outline-secondary text-decoration-none">
        Список заказанных материалов 
    </a>
</div>

